<link rel="stylesheet" href="styles/styles.css" />
<div class="create-page">
    <form action="/create" method="POST">
        <label for="title">Title:</label><br>
        <input type="text" id="title" name="title" placeholder="Enter title..."><br>
        <label for="content">Content:</label><br>
        <textarea id="content" name="content" placeholder="Enter Content..."></textarea><br>
        <button type="submit">Create</button>
    </form>  
</div>